body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  min-height: 100vh;
}

.dashboard {
  display: flex;
  flex: 1;
}

.item-table table tr:nth-child(even) {
  background-color: #f8f9fa;
}
